#!/usr/bin/make -f
# -*- makefile -*-
# debian.rules file for witty
# Copyright 2008 by Pau Garcia i Quiles <pgquiles@elpauer.org>
# Based on the dh-make-generated rules file

include /usr/share/dpatch/dpatch.make

version=3.1.5
major=0

configure: configure-stamp
configure-stamp: patch-stamp
	dh_testdir

	touch configure-stamp


build: build-stamp
build-stamp: configure-stamp 
	dh_testdir

	mkdir $(CURDIR)/build-debug
	(cd $(CURDIR)/build-debug; cmake -DCMAKE_VERBOSE_MAKEFILE:BOOL=1 \
                                         -DCONNECTOR_FCGI:BOOL=1 \
                                         -DCMAKE_INSTALL_PREFIX:PATH=/usr \
                                         -DCONFIGDIR:PATH=../etc/wt/ \
                                         -DWT_CMAKE_FINDER_INSTALL_DIR:PATH=/share/cmake-2.6/Modules \
                                         -DCMAKE_BUILD_TYPE:STRING=RelWithDebInfo \
                                         -DCMAKE_SKIP_RPATH:BOOL=1 \
                                         -DWEBUSER:STRING=www-data \
                                         -DWEBGROUP:STRING=www-data ..)

	(cd $(CURDIR)/build-debug; $(MAKE) )
	touch $@

clean: unpatch
	rm -rf build-debug
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Commands to install the package into debian/tmp
	(cd $(CURDIR)/build-debug; $(MAKE) install DESTDIR=$(CURDIR)/debian/tmp/ )

	mkdir -p $(CURDIR)/debian/tmp/usr/share/doc/witty-doc/
	cp -R $(CURDIR)/doc/* $(CURDIR)/debian/tmp/usr/share/doc/witty-doc/

	cp -R $(CURDIR)/examples $(CURDIR)/debian/tmp/usr/share/doc/witty-doc/
	cp -R $(CURDIR)/resources $(CURDIR)/debian/tmp/usr/share/doc/witty-doc/examples/wt-homepage/
	rm -f $(CURDIR)/debian/tmp/usr/share/doc/witty-doc/examples/wt-homepage/resources/stripes/generate.sh
	cp $(CURDIR)/deploy.sh $(CURDIR)/debian/tmp/usr/share/doc/witty-doc/
#	mv $(CURDIR)/debian/tmp/usr/etc $(CURDIR)/debian/tmp

#	rm $(CURDIR)/debian/tmp/usr/share/doc/witty-doc/examples/wt-homepage/resources/orbited_LICENSE.txt
#	rm $(CURDIR)/debian/tmp/usr/share/doc/witty-doc/examples/wtwithqt/LICENSE
#	rm $(CURDIR)/debian/tmp/usr/share/doc/witty-doc/examples/wtwithqt/lib/LICENSE

# Build architecture-independent files here.
binary-indep: build install

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs Changelog
	dh_installdocs
	dh_installexamples
	dh_install --sourcedir=debian/tmp/
	dh_installman
	dh_lintian
	dh_link
	dh_strip --dbg-package=witty-dbg
	dh_compress -Xwt-sdj.xhtml -Xwt-sdj.pdf -XDoxyfile -X.C -X.h -X.txt -X.map -X.xml -X.js -X.csv -XWQApplication -A
	dh_makeshlibs -pwitty -V'witty (>= 3.1.5)'
	dh_shlibdeps -a
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
