Source: wikigps-qt
Section: web
Priority: optional
Maintainer: Pavel Zubarev <zps@osll.spb.ru>
Build-Depends: debhelper (>= 5), dpkg-dev (>= 1.14.6), libqt4-dev (>=4.6), libqt4-sql, libqt4-sql-psql, libqtcore4, libqjson0

Package: wikigps-qt
Architecture: any
Depends:
Description: qt 4.7 libs needed for wikigps-service
