<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Geo2tag.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets -->
  
  <servlet>
  	<servlet-name>LoginService</servlet-name>
  	<servlet-class>ru.spb.osll.web.server.services.users.LoginServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginService</servlet-name>
  	<url-pattern>/geo2tag/LoginService</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>ChannelService</servlet-name>
  	<servlet-class>ru.spb.osll.web.server.services.channels.ChannelServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ChannelService</servlet-name>
  	<url-pattern>/geo2tag/ChannelService</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>TagService</servlet-name>
  	<servlet-class>ru.spb.osll.web.server.services.tags.TagServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TagService</servlet-name>
  	<url-pattern>/geo2tag/TagService</url-pattern>
  </servlet-mapping>

</web-app>
