<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Geo2tag.html</welcome-file>
  </welcome-file-list>
  
  <!-- Servlets -->
  <servlet>
  	<servlet-name>GTService</servlet-name>
  	<servlet-class>ru.spb.osll.web.server.services.GTServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GTService</servlet-name>
  	<url-pattern>/geo2tag/GTService</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>VersionService</servlet-name>
  	<servlet-class>ru.spb.osll.web.server.services.version.VersionServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>VersionService</servlet-name>
  	<url-pattern>/geo2tag/VersionService</url-pattern>
  </servlet-mapping>

</web-app>
