Source: wikigps
Section: user/other
Priority: optional
Maintainer: Open Source and Linux lab <osll@lists.osll.spb.ru>
Build-Depends: debhelper (>= 5), dpkg-dev (>= 1.14.6), libqt4-dev (>=4.6)

Package: wikigps-libs
Architecture: any
Depends: ${shlibs:Depends}, libxml2 (>=2.6),libqt4-core ,libqt4-network ,libqt4-gui, libqt4-sql-psql [i386]
Description: Geo2tag libs

Package: wikigps-libs-standalone
Architecture: i386
Depends:wikigps-qt, libxml2 (>=2.6)
Description: Geo2tag libs

#Package: wikigps-client
#Architecture: powerpc 
#Depends: wikigps-libs, libqjson0 [i386],libqjson [armel], libqtm-location (>=1.0) [armel],libqtm-bearer (>=1.0) [armel]
#Description: WikiGPS service client
# Very long description will be here
#
Package: wikigps-tracker
Architecture: any
Depends: ${shlibs:Depends},wikigps-libs (>=0.1.2)
Description: WikiGPS tracker
 has very tiny interface. alfa version.

Package: wikigps-observer
Architecture: i386
Depends: ${shlibs:Depends},wikigps-libs (>=0.1.2)
Description: WikiGPS observer
 observs marks setted by tracker.

Package: wikigps-webside
Architecture:i386 
Depends: ${shlibs:Depends}, wikigps-service, wikigps-libs
Description: Geo2tag website

Package: wikigps-service
Architecture: i386
Depends: lighttpd, postgresql, wikigps-libs, libpq5, libfcgi0ldbl
Description: Geo2tag webservice

Package: wikigps-service-standalone
Architecture: i386
Depends: lighttpd, postgresql, wikigps-libs-standalone, libpq5, libfcgi0ldbl
Description: Geo2tag webservice for platform that doesnt support qt 4.7
