Source: unixodbc
Build-Depends: debhelper, flex, bison, libreadline-dev, autotools-dev
Section: libs
Priority: optional
Maintainer: Steve Langasek <vorlon@debian.org>
Standards-Version: 3.8.3
Homepage: http://www.unixodbc.org/

Package: unixodbc
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libmyodbc, odbc-postgresql, tdsodbc, unixodbc-bin
Conflicts: unixodbc-bin (<< 2.2.4-1)
Description: ODBC tools libraries 
 Binaries and libraries from the unixODBC package.
  COMPONENTS:
 .
  libodbc.so.1        (ODBC Driver Manager)
  libodbctxt.so       (driver for Text files)
  isql                (cmd line tool... batch & interactive SQL)

Package: unixodbc-dev
Architecture: any
Section: devel
Priority: extra
Depends: unixodbc (= ${binary:Version}),
	odbcinst1debian1 (= ${binary:Version}),
	libodbcinstq1c2 (= ${binary:Version}),
	libltdl3-dev, ${misc:Depends}
Suggests: libqt3-mt-dev
Conflicts: libiodbc2-dev, remembrance-agent (<< 2.11-4)
Description: ODBC libraries for UNIX (development files)
 This package contains the development files (headers and libraries) for
 unixODBC, an implementation of the Open DataBase Connectivity interface
 for Unix systems.  You should not need to install this package unless
 you intend to develop C language applications which use ODBC, or to
 compile ODBC-using applications from source.

Package: unixodbc-bin
Architecture: any
Section: x11
Depends: ${shlibs:Depends}, libodbcinstq1c2, ${misc:Depends}
Description: Graphical tools for ODBC management and browsing
 This package contains three graphical applications for use with
 unixODBC, the Open DataBase Connectivity suite: ODBCConfig, a graphical
 configuration tool for managing database drivers and access to
 individual databases; DataManager, a simple browser and query tool for
 ODBC databases; and odbctest, a tool for testing the ODBC API itself.

Package: libodbcinstq1c2
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: unixodbc (<< 2.2.4-1), libodbcinstq1
Replaces: unixodbc (<< 2.2.4-1), libodbcinstq1
Description: Qt-based ODBC configuration library
 This package contains the libodbcinstQ library, a library used by some
 Qt-based GUI configuration tools for managing ODBC drivers and ODBC DSNs.

Package: odbcinst1debian1
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}, odbcinst
Replaces: unixodbc (<< 2.1.1-2)
Conflicts: odbcinst1
Description: Support library for accessing odbc ini files
 This package contains the libodbcinst library from unixodbc, a library
 used by ODBC drivers for reading their configuration settings from
 /etc/odbc.ini and ~/.odbc.ini.  It is useful to provide this in a
 stand-alone package, so that all ODBC drivers in Debian can use a
 consistent ini library, regardless of whether applications are built
 with iodbc or unixodbc.
 .
 Also contained in this package are the driver setup plugins, which
 describe the features supported by individual ODBC drivers.

Package: odbcinst
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: unixodbc (<< 2.1.1-2), odbcinst1debian1 (<< 2.2.11-20), odbcinst1
Conflicts: odbcinst1
Description: Helper program for accessing odbc ini files
 This package contains the odbcinst helper tool, which allows ODBC driver
 packages to install their own driver settings.
