#!/usr/bin/make -f
# Copyright 2009 Steve Langasek <vorlon@debian.org>

# build should fail if anything at all is wrong with the library symbols
export DPKG_GENSYMBOLS_CHECK_LEVEL=4
# always force the check for undefined symbols
export LDFLAGS=-Wl,-z,defs

%:
	dh $@

override_dh_auto_configure: autotools
	# Add here commands to configure the package.
	CXXFLAGS="-g -O2 -pipe" \
	dh_auto_configure -- --with-qt-includes=/usr/include/qt3 \
		--enable-static --enable-ltdllib

override_dh_auto_clean:
	dh_auto_clean

override_dh_auto_install:
	dh_auto_install
	sed -i "/^dependency_libs=/ s/'.*'/''/" debian/tmp/usr/lib/*.la
	mkdir -p $(CURDIR)/debian/tmp/usr/lib/odbc
	cp -L $(CURDIR)/debian/tmp/usr/lib/lib*S.so $(CURDIR)/debian/tmp/usr/lib/odbc

# The autotools target adds a forced build-time dependency on
# autotools-dev (for /usr/share/misc/config.*)
autotools:
	OLDDATESUB=`./config.sub -t | tr -d - ` || OLDDATESUB=""; \
	NEWDATESUB=`/usr/share/misc/config.sub -t | tr -d - `; \
	if [ -z "$$OLDDATESUB" ] || [ "$$OLDDATESUB" -lt "$$NEWDATESUB" ]; \
	then \
	   cp -f /usr/share/misc/config.sub config.sub; \
	fi

override_dh_makeshlibs:
	dh_makeshlibs -X lib/odbc/lib
