[Desktop Entry]
Encoding=UTF-8
Version=0.0.1
Type=Application
Name=wikigpsTracker-ui
Icon=wikigpsTracker-ui
Exec=wikigpsTracker-ui
X-Icon-path=/usr/share/icons/
X-Window-Icon=wikigpsTracker-ui
