Source: tracker
Section: user/hidden
Priority: optional
Maintainer: Mark Zaslavskiy <Mark.Zaslavskiy@gmail.com>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: https://github.com/OSLL/geo2tag

Package: tracker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: simple client for Geo2Tag service
XB-Maemo-Display-Name: tracker
