html,body { margin:0; padding:0}
body {
    font: 80%/1.5em arial,sans-serif;
    text-align: left;
    background: #FFFFFF;
    color: #333333;
    min-width: 750px;
    overflow-x: hidden;
    padding-bottom:20px;
}

/* Main page design */
div#top_wrapper {
    background-color: #E1E1E1;
    border-left: 20px solid #BEBEBE;
    border-right: 20px solid #BEBEBE;
    height: 22px;
}
div#banner_wrapper {
    background-color:#FFFFFF;
    border-left:20px solid #D6D6D6;
    border-right:20px solid #D6D6D6;
}
div#banner_content {
    background-color:#F7F7F7;
height:96px;
margin-left:30px;
margin-right:10px;
max-width:950px;
min-width:750px;
padding-bottom:20px;
    padding-top:30px;
}
div#banner {
    background:url("geo2tag_banner.jpg") no-repeat scroll left top transparent;
    height:96px;
    margin-left:-50px;
    position:relative;
}
div#banner_end {
    background:url("geo2tag_banner_right.jpg") no-repeat scroll right top transparent;
    height:96px;
    position:relative;
    z-index:20;
}
div#banner a {
    margin:0 0 0 -2000px;
}
div#main_wrapper {
    background-color: #FFFFFF;
    border-left: 20px solid #D6D6D6;
    border-right: 20px solid #D6D6D6;
    display: block;
}
div#main_content {
    background-color:#F7F7F7;
    display:block;
    margin-left:30px;
    margin-right:10px;
    max-width:950px;
    min-width:750px;
    padding-top:0px;
    padding-bottom: 20px;
}
div#main_page {
    display:block;
    margin-left:30px;
    margin-right:10px;
}
div#footer_wrapper {
    background-color:#E1E1E1;
    border-bottom:20px solid #BEBEBE;
    border-left:20px solid #BEBEBE;
    border-right:20px solid #BEBEBE;
}

/* Login widget design */
.login_widget_style button,input,label {
    /* background-color:#A1A1E1; */
    margin:5px;
}
span#intro {
    font: 125%/1.5em arial,sans-serif;
}

ul {  padding: 0; margin: 0;}
li { list-style-type: none;}
